* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #696969;
}
a:hover {
    color: #adad90;
}

.container {
    width: 100%;
    margin-top: auto;
}

/* Menu */
.menu{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
.menu ul li {
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
}
.menu img {
    margin: 0px 15px -20px;
}
.menu img:hover {
    opacity: 0;
}